@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');



:root {
    --mainColor:rgb(255, 35, 123) ;
    --secondColor:rgb(255, 216, 233);
    --thirdColor:rgb(253, 27, 117);
    --cardtext:rgb(255, 242, 248);
    --scrollColor:rgb(227, 0, 91);
    --adminMainColor:rgb(255, 61, 90);
    
}
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

    /* background-color: var(--thirdColor); */;
    background-image: linear-gradient(20deg ,var(--mainColor),rgb(236, 30, 30) );

}
.navbar-brand  {
    color:var(--adminMainColor)
}
.button-color {
    background-color: var(--adminMainColor);
    color :white
}
.button-color:hover {
    color: var(--adminMainColor);
    background-color: rgb(255, 255, 255);
    border:1px solid var(--adminMainColor)
}
.nav-custom {
    z-index: 9999;
    position: sticky;
    top:0;
    left:0;
    opacity: 0.9;
    transition-duration: 0.2s;
}
.nav-custom:hover{
    opacity: 1;
}

.logo-font {
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    margin-left:2%
}
.navbar-color {
    background-color: var(--secondColor);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
}
.navbar-brand {
    color:black;
}

.modal-margin {
    margin-top:10vh;
    
}
.modal-color {
    background-color: var(--cardtext)
}

.link-white {
    color: black;
}
.link-white:hover {
    color:black
}
.link-null {
    color:white
}
.link-null:hover {
    color:white
}

.admin-login {
    background-color: var(--secondColor);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:black;
    padding:30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 50px;
}
.report {
    color: white ;
    text-decoration: none;
    font-size: x-large;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    margin-bottom: 50px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}
.report:hover {
    color:rgb(124, 0, 70);
    opacity: 1;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}
.icon-size {
    width:90px;
    transition:0.2s;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -ms-transition:0.2s;
    -o-transition:0.2s;
}
.nav-icon {
    width:35px;
    
}
.cont {
    padding:10px;
    margin-top: 50px;
    width:90%;
    height:250px;
    background-image: linear-gradient(90deg,rgba(255, 202, 202, 0.989),rgb(255, 255, 255));
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    
}
.profile-cont {
    height:auto
}

.cont-child{
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    height:70%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color:white;
    transition: 0.2s ;
    -webkit-transition: 0.2s ;
    -moz-transition: 0.2s ;
    -ms-transition: 0.2s ;
    -o-transition: 0.2s ;
    text-align: center;
}
.total-donor {
    background-image: linear-gradient(20deg,rgb(245, 65, 65),rgb(225, 25, 65));
    
}
.total-hospt {
    background-image: linear-gradient(20deg,rgb(245, 65, 65),rgb(225, 25, 65))
}
.recent-request {
    background-image: linear-gradient(20deg,rgb(245, 65, 104),rgb(225, 25, 65))
}
.total-donor:hover {
    background-image: linear-gradient(80deg,rgb(245, 65, 65),rgb(225, 25, 65));
    box-shadow: 0px 2px 5px 8px rgba(172, 0, 17, 0.467);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transition:0.2s ease-in-out;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -ms-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
}
.total-hospt:hover {
    box-shadow: 0px 2px 5px 8px rgba(172, 0, 17, 0.467);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.recent-request:hover {
    box-shadow: 0px 3px 9px 8px rgba(172, 0, 17, 0.467);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.dash {
    text-align: center;
    margin-top: 50px;
    color:var(--cardtext)
}
.cont-reports {
    overflow-y: hidden;
    margin-bottom: 50px;
}
.user-edit {
    margin-top: 5px;
    width:3%;
    height: auto;
}
.user-cont {
    width:80%;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.madal-custom {
    margin-top: 80px;
}
.wrong {
    background-color: rgba(255, 0, 0, 0.249);
    color:black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: 15px;
    
}
.admin-cont {
    background-color: rgb(255, 0, 47);

}
.input-resize {
    width:50%;
    margin-top:20px ;
}
.very-small-icon {
    width:20px;
    height: 20px;
    
}